
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container-sidebar {
  display: flex;
}
main {
  width: 100%;
  padding: 80px 0 0 80px;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 7.5px 15px;
}
.logo {
  font-size: 22px;
  font-weight: 600;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  padding: 5px 0;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 16px;
}

/* Set the background color of body to tan */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  form {
    flex-direction: column;
  }
  form div {
    flex-direction: column;
  }
  .main {
    padding: 70px 0 0 30px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 50px;
  }
  form {
    flex-direction: column;
  }
  form div {
    flex-direction: column;
    height: 200px;
  }
  .main {
    padding: 70px 0 0 30px;
  }}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#top-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e00585;
  color: white;
  height: 60px;
}
#top-add img {
  width: 32%;
  margin-left: 35px;
}
#top-add p {
  font-size: 14px;
}
#top-add p span {
  font-weight: bold;
}
#top-add:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 1900px) {
  #top-add {
    display: none;
  }
}
#nav-top {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid; */
  height: 100px;
  margin-top: 30px;
  align-items: center;
}
.nav-store-comm {
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.nav-store-comm:hover {
  border-bottom: 2px solid;
  cursor: pointer;
}
.nav-store-comm:hover img {
  cursor: pointer;
  /* border-radius: 50%; */
}
.nav-store-comm div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-small-icons {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.nav-small-icons img {
  width: 30px;
}
.nav-small-icons:hover {
  border: 2px solid black;
}
.comm-text {
  margin-top: 6px;
}
.nav-signup {
  display: flex;
  cursor: pointer;
  justify-content: center;

}

.sign_in_DropDown{
  position: absolute;
    z-index: 1;
    width: 200px ;
    height: 300px;
    border: 1px solid red;
    
}




.nav-signup .sign_in_DropDown:hover {
  border-bottom: 2px solid black;
}
.comm-text p span {
  font-size: 12px;
}
.nav-small-icons-sign {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 10px;
}
.nav-small-icons-sign img {
  width: 30px;
}
.nav-small-icons-sign:hover {
  border: 2px solid black;
}

.full-width {
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




.full-width a {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.full-width a:hover {
  color: #e0e0e0;
}

.full-width .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  flex-direction: column;
}

.full-width a:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) and (min-width: 576px) {
  .full-width .sub-menu {
    flex-direction: row;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
}

/**Furqan**/
#top-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e00585;
  color: white;
  height: 60px;
}
#top-add img {
  width: 32%;
  margin-left: 35px;
}
#top-add p {
  font-size: 14px;
}
#top-add p span {
  font-weight: bold;
}
#top-add:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 1900px) {
  #top-add {
    display: none;
  }
}
#nav-top {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  margin-top: 30px;
  align-items: center;
}
.nav-store-comm {
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.nav-store-comm:hover {
  border-bottom: 2px solid;
  cursor: pointer;
}
.nav-search {
  width: 400px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
}
.nav-search input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: whitesmoke;
}
.nav-search input:focus {
  outline: none;
}
.nav-search img {
  width: 33px;
}
.nav-store-comm:hover img {
  cursor: pointer;
  border-radius: 50%;
}
.nav-store-comm div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-small-icons {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.nav-small-icons img {
  width: 30px;
}
.nav-small-icons:hover {
  border: 2px solid black;
}
.comm-text {
  margin-top: 6px;
}
.nav-signup {
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.nav-signup:hover {
  border-bottom: 2px solid black;
}
.comm-text p span {
  font-size: 12px;
}
.nav-small-icons-sign {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 10px;
}
.nav-small-icons-sign img {
  width: 30px;
}
.nav-small-icons-sign:hover {
  border: 2px solid black;
}

.full-width {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 999;
  position: sticky;
  top: 0;
}

.full-width a {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.full-width a:hover {
  color: #e0e0e0;
}

.full-width .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 100%;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  flex-direction: column;
}

.full-width a:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) and (min-width: 576px) {
  .full-width .sub-menu {
    flex-direction: row;
  }
}
.login-cart-options {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -20px;
  /* margin-left: -120px; */
  /* border: 1px solid; */
  padding: 20px;
}
.login-cart-options img {
  margin: 15px;
  width: 20px;
}
.login-cart-options .login-cart-care:hover {
  width: 25px;
}
.login-cart-options .login-cart-like:hover {
  width: 25px;
}
.login-cart-options .login-cart-bag:hover {
  width: 25px;
}

/***/
.slide-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: 0px;
  scroll-margin: 0px;
  scroll-snap-points-x: repeat(100%);
  gap: 10px;
  margin: 10px auto;
}
.slide-container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: none;
}

.slide-container::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
}
.slide-container > div {
  display: inline-block;
  width: 100%;
  scroll-snap-align: start;
  padding: 0px;
  margin: 0px;
}

.slide-container div > h3 {
  font-size: 22px;
  font-weight: bold;
}
.slide-container div > h5 {
  font-size: 15px;
  font-weight: light;
}
.slide-container div > p {
  font-weight: bold;
}
.slide-text-box {
  height: 120px;
  margin-top: -10px;
}
.weird {
  width: 675px;
}
.slide-text-box h3 {
  margin-left: 10px;
  margin-top: 10px;
}
.slide-text-box h5 {
  margin-left: 10px;
  margin-top: 10px;
}
.slide-text-box p {
  margin-left: 10px;
  margin-top: 10px;
}
.slide-container > div:nth-child(1) {
  background-color: #eccbd4;
}
.slide-container > div:nth-child(2) {
  background-color: #e07271;
}
.slide-container div:nth-child(3) {
  background-color: #8eb6d0;
}
.slide-container div:nth-child(4) {
  background-color: #f8a78c;
}
.slide-container div:nth-child(5) {
  background-color: #fef0bf;
}
.slide-container div:nth-child(6) {
  background-color: #7fc3c4;
}
@media only screen and (max-width: 768px) {
  .slide-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0px;
    scroll-margin: 0px;
    scroll-snap-points-x: repeat(100%);
  }
  .slide-container > div {
    display: inline-block;
    width: 100%;
    scroll-snap-align: start;
    padding: 0px;
    margin: 0px;
  }
  .slide-container > div img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slide-text-box {
    display: none;
  }
}

@media only screen and (max-width: 545px) {
  .slide-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0px;
    scroll-margin: 0px;
    scroll-snap-points-x: repeat(100%);
  }
  .slide-container > div {
    display: inline-block;
    width: 100%;
    scroll-snap-align: start;
    padding: 0px;
    margin: 0px;
  }
  .slide-container > div img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slide-text-box {
    display: none;
  }
}
.slide-text-box h5:hover {
  cursor: pointer;
  text-decoration: underline;
}
.slide-text-box p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.just-dropped {
  margin-top: 70px;
}
.just-dropped-text {
  display: flex;
  width: 68%;
  margin: auto;
  justify-content: space-between;
}
.just-dropped-text h5 {
  font-weight: bold;
}
.just-dropped-text p {
  color: blue;
}
.just-dropped-text p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dropped-products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dropped-products > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  transform: translateY(0px);
  transition: transform 0.2s;
}
.dropped-products > div:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
}
.dropped-products div h5 {
  font-size: 16px;
  margin-top: 12px;
  margin-left: 12px;
}
.dropped-products div p {
  font-size: 13px;
  margin-top: 12px;
  margin-left: 12px;
}
.dropped-products div button {
  border: 0;
  background-color: black;
  color: white;
  font-size: 11px;
  border-radius: 7px;
  cursor: auto;
}
.beauty-offers {
  margin-top: 50px;
}
.beauty-offers-text {
  display: flex;
  width: 68%;
  margin: auto;
  justify-content: space-between;
}
.beauty-offers-text h5 {
  font-weight: bold;
}
.beauty-offers-text p {
  color: blue;
}
.beauty-offers-text p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.beauty-products {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 80%;
  align-items: center;
  margin: auto;
}
.beauty-products > div {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(0px);
  transition: transform 0.2s;
}
.beauty-products > div:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
}
.beauty-products img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.beauty-products h5 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
}
.beauty-products h6 {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}
.beauty-products p {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}
.bty-btn {
  display: flex;
  justify-content: space-around;
}
.bty-btn button {
  border-radius: 15px;
  background-color: white;
  height: 30px;
}
.bty-btn button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.bty-btn p {
  color: blue;
}
.bty-btn p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.skin-care {
  display: flex;
  width: 68%;
  margin: 50px auto;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d7d5d5;
  border-top: 1px solid #d7d5d5;
}
.skin-care div {
  width: 33%;
  border-radius: 5px;
}
.skin-care div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.skin-care div img {
  width: 100%;
  height: auto;
}
.skin-care div:nth-child(1) {
  background-color: #9198a8;
}
.skin-care div:nth-child(3) {
  background-color: #d2b6a9;
}
.skin-care div:nth-child(2) {
  background-color: #bb126f;
}
.skin-care h4 {
  font-size: 20px;
  margin: 10px;
}
.skin-care h5 {
  font-size: 13px;
  margin: 10px;
}
.skin-care p {
  font-size: 15px;
  margin: 10px;
}
.featured-cat {
  display: flex;
  margin: 100px auto;
  width: 68%;
  justify-content: space-between;
  border-top: 1px solid #d7d5d5;
  padding-top: 50px;
  padding-bottom: 50px;
}
.featured-products {
  display: flex;
  gap: 10px;
}
.featured-products > div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100px;
  position: relative;
  height: 120px;
  padding: 5px;
  transform: translateY(0px);
  transition: transform 0.2s;
}
.featured-products > div :hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
}
.featured-products img {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
.featured-cat span {
  color: blue;
  cursor: pointer;
}
.featured-cat span:hover {
  text-decoration: underline;
}
.bb img {
  margin-top: 25px;
}
.cc img {
  margin-top: 25px;
}
.feedback-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  font-weight: bold;
}
.feedback-bar p {
  margin-top: 15px;
}
.feedback-bar p:hover {
  cursor: pointer;
  text-decoration: underline;
}
