.card{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 450px;
    padding: 10px;
    border-radius: 20px;
}
.card img{
    height: 50%;
    width: 100%;
}
.invisible{
    display: none;
   
}
strike{
    color: red;
    text-decoration: line-through;
}


.card:hover{
    transform: translateY(-5px);
    transition: transform 0.2s;
}
