.mainsection{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
}
.sidebar{
    position: relative;
    width: 25%;
    border-right: 1px dotted black;
    height: 700px;
    padding: 5px;
}
.gridsection{
    width: 70%;
    
    
}
.rating input{
    margin-right: 5px; 
}
.spinner{
    display: flex;
    height: 50px;
   
}
.gridsection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 5px;
}

.card{
    border: 1px solid black;
    height: 350px;
}
.card img{
    height: 70%;
    width: 100%;
}
.heading{
    margin: 20px;
}
.page{
    margin: 5px;
}
.pagination{
   display: block;
    margin: auto;
    
}
.pagination button{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10%;
    
}

@media screen and (max-width:1200px) {
    .mainsection{
        display: flex;
        flex-direction: column;
        
    }
    .sidebar{
        width: 100%;
    }
    .gridsection{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
}